<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Lernportfolio', title='Error', headcontent=~{:: headcontent}, navigation=~{common/navigation:: navigationFragment}, bodycontent=~{:: bodycontent})}">

<head>
    <th:block th:fragment="headcontent" th:insert="fragments/dependencies :: dependencyFragment"/>
</head>

<body th:fragment="bodycontent"
      th:replace="fragments/defaults :: defaultBody(title='HTTP Error ' + ${errorCode}, description=${errorMessage}, content=~{::content})">

<div th:fragment="content">

    <p>Klicke hier um zurück zur Startseite zu gelangen:</p>
    <a class="btn btn-primary btn-lg" href="/">Zur Startseite</a>

</div>

</body>
</html>