<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='Lernportfolio', title='Vorlagen Liste', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:fragment="headcontent">
        <th:block th:insert="common/dependencies :: dependencyFragment"></th:block>
    </th:block>

    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li>
                <a href="list">
                    <p><i class="fa fa-archive fa-lg"></i> Vorlagen Liste</p>
                </a>
            </li>
            <li>
                <a href="#" data-toggle="modal" data-target="#MODAL_CREATE_TEMPLATE">
                    <p><i class="fas fa-book-medical fa-lg"></i> Vorlage erstellen</p>
                </a>
            </li>
        </ul>
    </nav>
</head>

<body th:fragment="bodycontent">

<div class="jumbotron pt-1 font-italic">

    <h1 class="display-5">Vorlagen Liste</h1>
    <p class="lead">Hier findest du eine Übersicht aller Vorlagen</p>
    <hr class="my-4">

    <div class="card border-dark w-50 mb-2" th:each="template : ${templateList}">
        <h5 class="card-header" th:text="${template.getTitle()}">Title</h5>
        <div class="card-body text-dark">
            <p class="card-text">Some text</p>
            <a class="btn btn-primary"
               th:href="@{view(templateId=${template.getId()})}">Anzeigen</a>
        </div>
        <div class="card-footer" th:text="'Zuletzt geändert am ' + ${template.getLastChanged()}">Last changed</div>
    </div>

</div>

<div class="modal fade" id="MODAL_CREATE_TEMPLATE">
    <div class="modal-dialog modal-dialog-centered">
        <form class="modal-content" th:method="post" th:action="@{create}">
            <div class="modal-header">
                <h5 class="modal-title"><u>Neue Portfolio Vorlage erstellen</u></h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Titel</span>
                    </div>
                    <input id="INPUT_TEMPLATE_TITLE" type="text" class="form-control" name="title"
                           placeholder="zB. Propra2 Praktikum" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Erstellen</button>
            </div>
        </form>
    </div>
</div>

</body>

</html>

