<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='Lernportfolio', title='Vorlage ansehen', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:fragment="headcontent">
        <th:block th:insert="common/dependencies :: dependencyFragment"></th:block>
    </th:block>

    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li>
                <a href="list">
                    <p><i class="fa fa-chevron-circle-left fa-lg"></i> Zurück</p>
                </a>
            </li>
            <li>
                <a th:href="@{edit(templateId=${template.getId()})}">
                    <p><i class="fas fa-edit fa-lg"></i> Vorlage editieren</p>
                </a>
            </li>
        </ul>
    </nav>
</head>

<body th:fragment="bodycontent">

<div class="jumbotron pt-1 font-italic">

    <h1 class="display-5">Vorlage ansehen</h1>
    <p class="lead">Du siehst die Vorlage <u th:text="${template.getTitle()}">Title</u></p>
    <hr class="my-4">

    <ul class="nav nav-tabs">
        <li class="nav-item" th:each="entry : ${template.getEntries()}">
            <a class="nav-link" data-toggle="tab" th:href="'#tab' + ${entry.getId()}"
               th:text="${entry.getTitle()}">Entry title</a>
        </li>
    </ul>

    <hr>
    <br>

    <div class="tab-content">

        <form class="tab-pane fade" th:each="entry : ${template.getEntries()}"
              th:id="'tab'+${entry.getId()}">

            <div th:each="field : ${entry.getFields()}" th:switch="${field.getType()}"
                 th:with="AnswerType = ${T(mops.portfolios.domain.portfolio.templates.AnswerType)}">

                <div th:case="${AnswerType.TEXT}">
                    <label for="INPUT_TEXT">
                        <u th:text="${field.getQuestion()}">Question</u>
                    </label>
                    <textarea class="form-control" id="INPUT_TEXT" required
                              th:placeholder="${field.getHint()}"></textarea>
                </div>

                <div th:case="${AnswerType.SINGLE_CHOICE}">
                    <label>
                        <u th:text="${field.getQuestion()}">Question</u>
                    </label>
                    <div class="form-check" th:each="choice : ${field.getHint().split(',')}"
                         th:with="id=${choice.replace(' ', '')}">
                        <input class="form-check-input" name="radio" required th:id="${id}" type="radio">
                        <label class="form-check-label" th:for="id" th:text="${choice}">
                            Choice
                        </label>
                    </div>
                </div>

                <div th:case="${AnswerType.MULTIPLE_CHOICE}">
                    <label>
                        <u th:text="${field.getQuestion()}">Question</u>
                    </label>
                    <div class="form-check" th:each="choice : ${field.getHint().split(',')}"
                         th:with="id=${choice.replace(' ', '')}">
                        <input class="form-check-input" required th:id="${id}" type="checkbox">
                        <label class="form-check-label" th:for="${id}" th:text="${choice}">
                            Choice
                        </label>
                    </div>
                </div>

                <div th:case="${AnswerType.NUMBER_SLIDER}" th:with="range = ${field.getHint().split(',')}">
                    <label for="INPUT_RANGE">
                        <u th:text="${field.getQuestion()}">Question</u>
                    </label>
                    <br>
                    <input class="custom-range w-50" type="range" id="INPUT_RANGE" required
                           data-toggle="popover" data-placement="right"
                           oninput="updatePopover(this, this.value);"
                           th:max="${range[1]}" th:min="${range[0]}" th:value="${range[0]}">
                </div>

                <div th:case="${AnswerType.ATTACHEMENT}">
                    <label>
                        <u th:text="${field.getQuestion()}">Question</u>
                    </label>
                    <br>
                    <div class="custom-file w-50">
                        <input class="custom-file-input" id="INPUT_FILE" required th:accept="${field.getHint()}"
                               type="file">
                        <label class="custom-file-label" for="INPUT_FILE">Datei auswählen</label>
                    </div>
                </div>

                <p th:case="*">Type not found</p>

                <hr>
                <br>

            </div>

            <button class="btn btn-primary" disabled type="submit">Absenden</button>

        </form>


    </div>

</div>

<script>
    $('.nav-tabs a:first').tab('show');

    function updatePopover(popover, value) {
        $(popover).attr('data-content', value);
        $(popover).popover('show')
    }
</script>

</body>
</html>