<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='Lernportfolio', title='Vorlage ansehen', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:fragment="headcontent">
        <th:block th:insert="common/dependencies :: dependencyFragment"></th:block>
    </th:block>

    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li>
                <a href="list">
                    <p><i class="fa fa-chevron-circle-left fa-lg"></i> Zurück</p>
                </a>
            </li>
            <li>
                <a href="#" data-toggle="modal" data-target="#MODAL_ADD_ENTRY">
                    <p><i class="far fa-calendar-plus fa-lg"></i> Eintrag hinzufügen</p>
                </a>
            </li>
            <li>
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" th:if="${templateEntry != null}">
                        <p><i class="far fa-plus-square fa-lg"></i> Feld hinzufügen</p>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#MODAL_ADD_FIELD">
                            <p><i class="fas fa-align-left"></i> Text Feld</p>
                        </a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#MODAL_ADD_FIELD" >
                            <p><i class="fas fa-list-ul"></i> Single Choice Feld</p>
                        </a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#MODAL_ADD_FIELD" >
                            <p><i class="fas fa-tasks"></i> Multiple Choice Feld</p>
                        </a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#MODAL_ADD_FIELD" >
                            <p><i class="fas fa-sliders-h"></i> Range Slider Feld</p>
                        </a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#MODAL_ADD_FIELD" >
                            <p><i class="fas fa-paperclip"></i> Anhang Feld</p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</head>

<body th:fragment="bodycontent">

<div class="jumbotron pt-1 font-italic">

    <h1 class="display-5">Vorlage ansehen</h1>
    <p class="lead">Du siehst die Vorlage <u th:text="${template.getTitle()}">Title</u></p>
    <hr class="my-4">

    <ul class="nav nav-tabs"  th:if="${templateEntry != null}">
        <li class="nav-item" th:each="entry : ${template.getEntries()}">
            <a class="nav-link" th:href="@{view(templateId=${template.getId()}, entryId=${entry.getId()})}"
               th:text="${entry.getTitle()}" th:classappend="${templateEntry.getId() == entry.getId()} ? 'active'">Entry title</a>
        </li>
    </ul>

    <hr>
    <br>

    <div class="tab-content"  th:if="${templateEntry != null}">

        <form>

            <div th:each="field : ${templateEntry.getFields()}" th:switch="${field.getType()}"
                 th:with="AnswerType = ${T(mops.portfolios.domain.portfolio.templates.AnswerType)}">

                <div th:case="${AnswerType.TEXT}">
                    <label for="INPUT_TEXT">
                        <u th:text="${field.getQuestion()}">Question</u>
                    </label>
                    <textarea class="form-control" id="INPUT_TEXT" required
                              th:placeholder="${field.getHint()}"></textarea>
                </div>

                <div th:case="${AnswerType.SINGLE_CHOICE}">
                    <label>
                        <u th:text="${field.getQuestion()}">Question</u>
                    </label>
                    <div class="form-check" th:each="choice : ${field.getHint().split(',')}"
                         th:with="id=${choice.replace(' ', '')}">
                        <input class="form-check-input" name="radio" required th:id="${id}" type="radio">
                        <label class="form-check-label" th:for="id" th:text="${choice}">
                            Choice
                        </label>
                    </div>
                </div>

                <div th:case="${AnswerType.MULTIPLE_CHOICE}">
                    <label>
                        <u th:text="${field.getQuestion()}">Question</u>
                    </label>
                    <div class="form-check" th:each="choice : ${field.getHint().split(',')}"
                         th:with="id=${choice.replace(' ', '')}">
                        <input class="form-check-input" required th:id="${id}" type="checkbox">
                        <label class="form-check-label" th:for="${id}" th:text="${choice}">
                            Choice
                        </label>
                    </div>
                </div>

                <div th:case="${AnswerType.NUMBER_SLIDER}" th:with="range = ${field.getHint().split(',')}">
                    <label for="INPUT_RANGE">
                        <u th:text="${field.getQuestion()}">Question</u>
                    </label>
                    <br>
                    <input class="custom-range w-50" type="range" id="INPUT_RANGE" required
                           data-toggle="popover" data-placement="right"
                           oninput="updatePopover(this, this.value);"
                           th:max="${range[1]}" th:min="${range[0]}" th:value="${range[0]}">
                </div>

                <div th:case="${AnswerType.ATTACHEMENT}">
                    <label>
                        <u th:text="${field.getQuestion()}">Question</u>
                    </label>
                    <br>
                    <div class="custom-file w-50">
                        <input class="custom-file-input" id="INPUT_FILE" required th:accept="${field.getHint()}"
                               type="file">
                        <label class="custom-file-label" for="INPUT_FILE">Datei auswählen</label>
                    </div>
                </div>

                <p th:case="*">Type not found</p>

                <hr>
                <br>

            </div>

            <button class="btn btn-primary" disabled type="submit">Absenden</button>

        </form>


    </div>

</div>

<div class="modal fade" id="MODAL_ADD_ENTRY">
    <div class="modal-dialog modal-dialog-centered">
        <form class="modal-content" th:method="post" th:action="@{createTemplateEntry(templateId=${template.getId()})}">
            <div class="modal-header">
                <h5 class="modal-title"><u>Neuen Vorlagen Eintrag erstellen</u></h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Titel</span>
                    </div>
                    <input type="text" class="form-control" name="title"
                           placeholder="zB. Woche 1, Woche 2, ..." required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Eintrag erstellen</button>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="MODAL_ADD_FIELD"  th:if="${templateEntry != null}">
    <div class="modal-dialog modal-dialog-centered">
        <form class="modal-content" th:method="post"
              th:action="@{createTemplateField(templateId=${template.getId()}, entryId=${templateEntry.getId()})}">
            <div class="modal-header">
                <h5 class="modal-title"><u>Neues Vorlagen Eintrag Feld erstellen</u></h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Frage / Aufgabe</span>
                    </div>
                    <input type="text" class="form-control" name="question"
                           placeholder="zB. Was hat dir an der Vorlesung gefallen?" required>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Feld erstellen</button>
            </div>
        </form>
    </div>
</div>

<script>
    function updatePopover(popover, value) {
        $(popover).attr('data-content', value);
        $(popover).popover('show')
    }
</script>

</body>
</html>