<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='Lernportfolio', title='Vorlage ansehen', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:fragment="headcontent">
        <th:block th:insert="common/dependencies :: dependencyFragment"></th:block>
    </th:block>

    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li>
                <a href="list">
                    <p><i class="fa fa-chevron-circle-left fa-lg"></i> Zurück</p>
                </a>
            </li>
            <li>
                <a href="#" data-toggle="modal" data-target="#MODAL_ADD_ENTRY">
                    <p><i class="far fa-calendar-plus fa-lg"></i> Eintrag hinzufügen</p>
                </a>
            </li>
            <li th:if="${templateEntry != null}">
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <p><i class="far fa-plus-square fa-lg"></i> Feld hinzufügen</p>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#MODAL_ADD_FIELD">
                            <p><i class="fas fa-align-left"></i> Text Feld</p>
                        </a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#MODAL_ADD_FIELD">
                            <p><i class="fas fa-list-ul"></i> Single Choice Feld</p>
                        </a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#MODAL_ADD_FIELD">
                            <p><i class="fas fa-tasks"></i> Multiple Choice Feld</p>
                        </a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#MODAL_ADD_FIELD">
                            <p><i class="fas fa-sliders-h"></i> Range Slider Feld</p>
                        </a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#MODAL_ADD_FIELD">
                            <p><i class="fas fa-paperclip"></i> Anhang Feld</p>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</head>

<body th:fragment="bodycontent"
      th:replace="fragments/defaults :: defaultBody(title='Vorlage ansehen', description='Hier kannst du eine Vorlage ansehen und editieren.', content=~{::content})">

<div th:fragment="content">

    <p>Du siehst die Vorlage <u th:text="${template.getTitle()}">Title</u></p>

    <ul class="nav nav-tabs">
        <li class="nav-item" th:each="entry : ${template.getEntries()}">
            <a class="nav-link" th:href="@{view(templateId=${template.getId()}, entryId=${entry.getId()})}"
               th:text="${entry.getTitle()}" th:classappend="${templateEntry.getId() == entry.getId()} ? 'active'">Entry
                title</a>
        </li>
    </ul>

    <hr>
    <br>

    <div class="tab-content">

        <form th:if="${templateEntry != null}">

            <div th:each="field : ${templateEntry.getFields()}" th:switch="${fieldType}"
                 th:with="
                  AnswerType = ${T(mops.portfolios.domain.portfolio.templates.AnswerType)},
                  fieldQuestion = ${field.getTitle()},
                  fieldData = ${field.getContent().split(';')},
                  fieldType = ${AnswerType.valueOf(fieldData[0])},
                  fieldHint = ${fieldData[1]}">

                <div th:case="${AnswerType.TEXT}"
                     th:insert="fragments/entryfields :: textField(${fieldQuestion}, ${fieldHint})"></div>

                <div th:case="${AnswerType.SINGLE_CHOICE}"
                     th:insert="fragments/entryfields :: singlechoiceField(${fieldQuestion}, ${fieldHint})"></div>

                <div th:case="${AnswerType.MULTIPLE_CHOICE}"
                     th:insert="fragments/entryfields :: multichoiceField(${fieldQuestion}, ${fieldHint})"></div>

                <div th:case="${AnswerType.NUMBER_SLIDER}"
                     th:insert="fragments/entryfields :: sliderField(${fieldQuestion}, ${fieldHint})"></div>

                <div th:case="${AnswerType.ATTACHEMENT}"
                     th:insert="fragments/entryfields :: attachementField(${fieldQuestion}, ${fieldHint})"></div>

                <div th:case="*">Type not found</div>

                <hr>
                <br>

            </div>

            <button class="btn btn-primary" disabled type="submit">Absenden</button>

        </form>


    </div>


    <div th:replace="fragments/modals :: addEntryModal(templateId=${template.getId()})"></div>

    <div th:if="${templateEntry != null}">
        <div th:replace="fragments/modals :: addFieldModal(templateId=${template.getId()}, entryId=${templateEntry.getId()})"></div>
    </div>


</div>

</body>
</html>