<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Lernportfolio', title='Portfolio Liste', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">

<head>
    <th:block th:fragment="headcontent" th:insert="fragments/dependencies :: dependencyFragment"/>

    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li>
                <a href="list">
                    <p><i class="fa fa-archive fa-lg"></i> Portfolio Liste</p>
                </a>
            </li>
            <li>
                <a href="#" data-toggle="modal" data-target="#MODAL_CREATE_PORTFOLIO">
                    <p><i class="fas fa-book-medical fa-lg"></i> Portfolio erstellen</p>
                </a>
            </li>
        </ul>
    </nav>
</head>

<body th:fragment="bodycontent"
      th:replace="fragments/defaults :: defaultBody(title='Portfolio Liste', description='Hier findest du eine Übersicht aller Portfolios.', content=~{::content})">

<div th:fragment="content">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#all">Alle Portfolios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#private">Private Portfolios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#group">Gruppen Portfolios</a>
        </li>
    </ul>

    <br>

    <div class="tab-content">

        <div class="tab-pane fade show active" id="all">

            <div class="card border-dark w-50 mb-2">
                <h5 class="card-header">Alle Portfolios:</h5>
                <div class="card-body text-dark">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:each="portfolio : ${allPortfolios}">
                            <a th:text="${portfolio.getTitle()}" th:href="@{view(portfolioId=${portfolio.getId()})}">Title</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="tab-pane fade" id="private">

            <div class="card border-dark w-50 mb-2">
                <h5 class="card-header">Private Portfolios:</h5>
                <div class="card-body text-dark">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:each="portfolio : ${userPortfolios}">
                            <a th:text="${portfolio.getTitle()}" th:href="@{view(portfolioId=${portfolio.getId()})}">Title</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="tab-pane fade" id="group">

            <div class="card border-dark w-50 mb-2">
                <h5 class="card-header">Gruppen Portfolios:</h5>
                <div class="card-body text-dark">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:each="portfolio : ${groupPortfolios}">
                            <a th:text="${portfolio.getTitle()}" th:href="@{view(portfolioId=${portfolio.getId()})}">Title</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

    <div th:replace="fragments/modals :: createPortfolioModal(templateList=${templateList})">Modal</div>

</div>

</body>

</html>

