<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="addTextField">

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Tipp / Erste Zeile</span>
        </div>
        <textarea class="form-control" name="hint" placeholder="zB. Meiner Meinung nach war die Vorlesung..."
                  required></textarea>
    </div>

    <input name="fieldType" value="TEXT" hidden>

</div>

<div th:fragment="addSingleChoiceField">

    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="radio">
            </div>
        </div>
        <input type="text" class="form-control" oninput="updateSingleChoiceHint()">
    </div>

    <button class="btn" type="button"
            onclick="let option = this.previousElementSibling; let optionClone = option.cloneNode(true); option.parentNode.insertBefore(optionClone, this);">
        <i class="fas fa-plus"></i>
    </button>

    <input name="fieldType" value="SINGLE_CHOICE" hidden>
    <input name="hint" id="HINT_SINGLECHOICE" hidden>

    <script>
        function updateSingleChoiceHint() {
            let HINT_SINGLECHOICE = document.getElementById('HINT_SINGLECHOICE');
            let hint = '';
            for (let inputs of HINT_SINGLECHOICE.parentElement.getElementsByClassName('form-control')) {
                hint += (',' + inputs.value);
            }
            HINT_SINGLECHOICE.value = hint.replace(',', '');
        }
    </script>

</div>

<div th:fragment="addMultiChoiceField">

    <div class="input-group">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="checkbox">
            </div>
        </div>
        <input type="text" class="form-control" oninput="updateMultiChoiceHint()">
    </div>

    <button class="btn" type="button"
            onclick="let option = this.previousElementSibling; let optionClone = option.cloneNode(true); option.parentNode.insertBefore(optionClone, this);">
        <i class="fas fa-plus"></i>
    </button>

    <input name="fieldType" value="MULTIPLE_CHOICE" hidden>
    <input name="hint" id="HINT_MULTICHOICE" hidden>

    <script>
        function updateMultiChoiceHint() {
            let HINT_MULTICHOICE = document.getElementById('HINT_MULTICHOICE');
            let hint = '';
            for (let inputs of HINT_MULTICHOICE.parentElement.getElementsByClassName('form-control')) {
                hint += (',' + inputs.value);
            }
            HINT_MULTICHOICE.value = hint.replace(',', '');
        }
    </script>

</div>

<div th:fragment="addSliderField" class="row">

    <div class="input-group col-4">
        <div class="input-group-prepend">
            <span class="input-group-text">Min.</span>
        </div>
        <input id="INPUT_SLIDER_MIN" type="number" class="form-control" placeholder="1" required
               oninput="updateSliderHint()">
    </div>

    <div class="col">
        <input type="range" class="custom-range" id="INPUT_SLIDER">
    </div>


    <div class="input-group col-4">
        <div class="input-group-prepend">
            <span class="input-group-text">Max.</span>
        </div>
        <input id="INPUT_SLIDER_MAX" type="number" class="form-control" placeholder="10" required
               oninput="updateSliderHint()">
    </div>

    <input name="fieldType" value="NUMBER_SLIDER" hidden>
    <input name="hint" id="HINT_SLIDER" hidden>

    <script>
        function updateSliderHint() {
            let HINT_SLIDER = document.getElementById('HINT_SLIDER');
            let INPUT_SLIDER_MIN = document.getElementById('INPUT_SLIDER_MIN').value;
            let INPUT_SLIDER_MAX = document.getElementById('INPUT_SLIDER_MAX').value;
            HINT_SLIDER.value = INPUT_SLIDER_MIN + "," + INPUT_SLIDER_MAX + ","  + INPUT_SLIDER_MIN;
        }
    </script>

</div>

<div th:fragment="addAttachementField">

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Erlaubte Dateiendungen</span>
        </div>
        <input type="text" class="form-control" name="hint"
               placeholder="zB. .pdf,.ascii,.adoc,.java,..." required>
    </div>

    <input name="fieldType" value="ATTACHEMENT" hidden>

</div>

<!--------------------------------------------------------------------->

<div th:fragment="textField(question, hint)">
    <label for="INPUT_TEXT">
        <u th:text="${question}">Question</u>
    </label>
    <textarea class="form-control" id="INPUT_TEXT" required
              th:placeholder="${hint}"></textarea>
</div>

<div th:fragment="singlechoiceField(question, hint)">
    <label>
        <u th:text="${question}">Question</u>
    </label>
    <div class="form-check" th:each="choice : ${hint.split(',')}"
         th:with="id=${choice.replace(' ', '')}">
        <input class="form-check-input" name="radio" required th:id="${id}" type="radio">
        <label class="form-check-label" th:for="${id}" th:text="${choice}">
            Choice
        </label>
    </div>
</div>

<div th:fragment="multichoiceField(question, hint)">
    <label>
        <u th:text="${question}">Question</u>
    </label>
    <div class="form-check" th:each="choice : ${hint.split(',')}"
         th:with="id=${choice.replace(' ', '')}">
        <input class="form-check-input" required th:id="${id}" type="checkbox">
        <label class="form-check-label" th:for="${id}" th:text="${choice}">
            Choice
        </label>
    </div>
</div>

<div th:fragment="sliderField(question, hint)" th:with="range = ${hint.split(',')}">
    <label for="INPUT_RANGE">
        <u th:text="${question}">Question</u>
    </label>
    <br>
    <input class="custom-range w-50" type="range" id="INPUT_RANGE" required
           data-toggle="popover" data-placement="right"
           oninput="$(this).attr('data-content', this.value);$(this).popover('show')"
           th:max="${range[1]}" th:min="${range[0]}" th:value="${range[0]}">
</div>

<div th:fragment="attachementField(question, hint)">
    <label>
        <u th:text="${question}">Question</u>
    </label>
    <br>
    <div class="custom-file w-50">
        <input class="custom-file-input" id="INPUT_FILE" required th:accept="${hint}"
               type="file">
        <label class="custom-file-label" for="INPUT_FILE">Datei auswählen</label>
    </div>
</div>

</html>