<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<div th:fragment="textField(question, hint)">
    <label for="INPUT_TEXT">
        <u th:text="${question}">Question</u>
    </label>
    <textarea class="form-control" id="INPUT_TEXT" required
              th:placeholder="${hint}"></textarea>
</div>

<div th:fragment="singlechoiceField(question, hint)">
    <label>
        <u th:text="${question}">Question</u>
    </label>
    <div class="form-check" th:each="choice : ${hint.split(',')}"
         th:with="id=${choice.replace(' ', '')}">
        <input class="form-check-input" name="radio" required th:id="${id}" type="radio">
        <label class="form-check-label" th:for="id" th:text="${choice}">
            Choice
        </label>
    </div>
</div>

<div th:fragment="multichoiceField(question, hint)">
    <label>
        <u th:text="${question}">Question</u>
    </label>
    <div class="form-check" th:each="choice : ${hint.split(',')}"
         th:with="id=${choice.replace(' ', '')}">
        <input class="form-check-input" required th:id="${id}" type="checkbox">
        <label class="form-check-label" th:for="${id}" th:text="${choice}">
            Choice
        </label>
    </div>
</div>

<div th:fragment="sliderField(question, hint)" th:with="range = ${hint.split(',')}">
    <label for="INPUT_RANGE">
        <u th:text="${question}">Question</u>
    </label>
    <br>
    <input class="custom-range w-50" type="range" id="INPUT_RANGE" required
           data-toggle="popover" data-placement="right"
           oninput="$(this).attr('data-content', this.value);$(this).popover('show')"
           th:max="${range[1]}" th:min="${range[0]}" th:value="${range[0]}">
</div>

<div th:fragment="attachementField(question, hint)">
    <label>
        <u th:text="${question}">Question</u>
    </label>
    <br>
    <div class="custom-file w-50">
        <input class="custom-file-input" id="INPUT_FILE" required th:accept="${hint}"
               type="file">
        <label class="custom-file-label" for="INPUT_FILE">Datei auswählen</label>
    </div>
</div>

</html>