<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div id="MODAL_CREATE_TEMPLATE" class="modal fade" th:fragment="createTemplateModal">
    <div class="modal-dialog modal-dialog-centered">
        <form class="modal-content" th:method="post" th:action="@{createTemplate}">
            <div class="modal-header">
                <h5 class="modal-title"><u>Neue Portfolio Vorlage erstellen</u></h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Titel der Vorlage</span>
                    </div>
                    <input type="text" class="form-control" name="title"
                           placeholder="zB. Propra2 Praktikum" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Template erstellen</button>
            </div>
        </form>
    </div>
</div>

<div id="MODAL_ADD_ENTRY" class="modal fade" th:fragment="addEntryModal(templateId)">
    <div class="modal-dialog modal-dialog-centered">
        <form class="modal-content" th:method="post" th:action="@{createTemplateEntry(templateId=${templateId})}">
            <div class="modal-header">
                <h5 class="modal-title"><u>Neuen Vorlagen Eintrag erstellen</u></h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Titel</span>
                    </div>
                    <input type="text" class="form-control" name="title"
                           placeholder="zB. Woche 1, Woche 2, ..." required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Eintrag erstellen</button>
            </div>
        </form>
    </div>
</div>

<div th:id="${modalId}" class="modal fade" th:fragment="addFieldModal(templateId, entryId, modalId, fieldFragment)">
    <div class="modal-dialog modal-dialog-centered">
        <form class="modal-content" th:method="post"
              th:action="@{createTemplateField(templateId=${templateId}, entryId=${entryId})}">
            <div class="modal-header">
                <h5 class="modal-title"><u>Neues Vorlagen Eintrag Feld erstellen</u></h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Frage / Aufgabe</span>
                    </div>
                    <input type="text" class="form-control" name="question"
                           placeholder="zB. Was hat dir an der Vorlesung gefallen?" required>
                </div>

                <br>

                <div th:replace="${fieldFragment}"></div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Feld erstellen</button>
            </div>
        </form>
    </div>
</div>

</html>