<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Lernportfolio', title='Vorlage editieren', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">

<head>
    <th:block th:fragment="headcontent">
        <th:block th:insert="common/dependencies :: dependencyFragment"></th:block>
    </th:block>

    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li>
                <a th:href="@{/view(templateId=${template.getId()})}">
                    <p><i class="fa fa-chevron-circle-left fa-lg"></i> Zurück</p>
                </a>
            </li>
        </ul>
    </nav>
</head>

<body th:fragment="bodycontent">

<div class="jumbotron pt-1 font-italic">

    <h1 class="display-5">Vorlage editieren</h1>
    <p class="lead">Du editierst die Vorlage <u th:text="${template.getTitle()}">Title</u></p>
    <hr class="my-4">

    <p>TODO</p>
</div>

</body>

</html>

