<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Lernportfolio', title='Submit', headcontent=~{:: headcontent}, navigation=~{fragments/navigation :: navigationFragment}, bodycontent=~{:: bodycontent})}">

<head>
    <th:block th:fragment="headcontent">
        <th:block th:insert="fragments/dependencies :: dependencyFragment"></th:block>

        <style>

        </style>

    </th:block>
</head>

<body th:fragment="bodycontent">

<div class="jumbotron pt-1 font-italic">

    <h1 class="display-5">Neues Portfolio</h1>
    <p class="lead">Hier kannst du ein neues Portfolio anlegen</p>
    <hr class="my-4">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#template">Mit Vorlage</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#personal">Persönlich</a>
        </li>
    </ul>

    <br>

    <form class="tab-content">

        <div class="tab-pane fade show active" id="template">

            <div class="input-group w-50">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="SELECT_PORTFOLIO">Vorlage auswählen</label>
                </div>
                <select class="custom-select" id="SELECT_PORTFOLIO">
                    <option th:each="portfolio : ${portfolioList}" th:text="${portfolio.getTitle()}"></option>
                </select>
            </div>

        </div>

        <div class="tab-pane fade" id="personal">

            <div class="input-group w-50">
                <div class="input-group-prepend">
                    <span class="input-group-text">Namen eingeben</span>
                </div>
                <input type="text" class="form-control" placeholder="Portfolio Name">
            </div>

        </div>

        <br>
        <button class="btn btn-primary" type="submit">Erstellen</button>
    </form>

</div>

<script>
    //TODO: FORM VALIDATION
</script>

</body>
</html>