<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Lernportfolio', title='Entry', headcontent=~{:: headcontent}, navigation=~{fragments/navigation:: navigationFragment}, bodycontent=~{:: bodycontent})}">

<head>
    <th:block th:fragment="headcontent">
        <th:block th:insert="fragments/dependencies :: dependencyFragment"></th:block>
    </th:block>
</head>

<body th:fragment="bodycontent">

<div class="text-center">

    <h1 class="display-4" th:text="${portfolio.getTitle()}">Portfolio title</h1>

    <div class="card mt-4 bg-secondary">
        <h3 class="card-header" th:text="'Woche - ' + ${entry.getId()}">Entry title</h3>
        <div class="card-body" th:each="field : ${entry.getFields()}">
            <h5 class="card-title" th:text="${field.getTitle()}">Field title</h5>
            <p class="card-text" th:text="${field.getContent()}">Field content</p>
            <a class="btn btn-primary" th:href="${field.getAttachement()}">Attachement</a>
            <hr class="my-4">
        </div>
        <div class="card-footer">Hier kommt irgendwas hin</div>
    </div>
</div>

</body>
</html>

