<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Lernportfolio', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Test</title>
    <th:block th:fragment="headcontent">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li>
                <a href="/">
                    <p><i class="fa fa-home fa-lg"></i>Home</p>
                </a>
            </li>
        </ul>
    </nav>
</header>
<div th:fragment="bodycontent">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home"><i class="fa fa-home fa-lg"></i> Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#gruppen"><i class="fa fa-users fa-lg"></i> Gruppen</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#index"><i class="fa fa-book fa-lg"></i> Index</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane container fade show active" id="home">
            <p>Startseite des Studenten.</p>
            <ul>Noch hinzuzufügen:
                <li>Schnellauswahl: Portfolios</li>
                <li>Schnellauswahl: Gruppen</li>
                <li>Letztes Modifizertes Portfolio</li>
                <li>Anstehende Termine?</li>
            </ul>
        </div>
        <div class="tab-pane fade" id="index">
            <p>Hier findet der Stundent eine Übersicht aller seiner Portfolios, aufgeteilt in seine und Gruppen-Portfolios, welche Alphabetisch sortiert sind.</p>
            <ul>Noch hinzuzufügen:
                <li>Lege fest, in welcher Form die Portfolios aufgelistet werden sollen</li>
                <li>etwaige Optionen</li>
            </ul>
        </div>
        <div class="tab-pane fade" id="gruppen">
            <p>Hier findet der Student alle Portfolios der Gruppen, zu denen er gehört.</p>
            <ul>Noch hinzuzufügen:
                <li>Lege fest, in welcher Form die Portfolios aufgelistet werden sollen</li>
                <li>etwaige Optionen</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>