<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Lernportfolio', headcontent=~{:: headcontent}, navigation=~{fragments/navigation:: navigationFragment}, bodycontent=~{:: bodycontent})}">

<head>
    <title>Index</title>

    <th:block th:fragment="headcontent" th:insert="fragments/dependencies :: dependencyFragment">
    </th:block>
</head>

<body th:fragment="bodycontent">

<div class="content">
    <ul>
        <li th:each="vorlesung : ${vorlesungen}" class="sep">
            <p>Vorlesung: <a th:text="${vorlesung.getTitle()}" href="#">Titel</a></p>
            <br>
        </li>
    </ul>

    <ul>
        <li th:each="gruppe : ${gruppen}" class="sep">
            <p>Gruppe: <a th:text="${gruppe.getTitle()}" href="#">Titel</a></p>
            <br>
        </li>
    </ul>
</div>

<script>

</script>

</body>
</html>