<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigationFragment">
    <ul>
        <li>
            <a href="/">
                <p><i class="fa fa-home fa-lg"></i> Startseite</p>
            </a>
        </li>
        <li>
            <a href="/index">
                <p><i class="fas fa-archive"></i> Index aller Portfolios</p>
            </a>
        </li>
        <li>
            <a href="/gruppen">
                <p><i class="fas fa-chalkboard-teacher"></i> Gruppen-Portfolios</p>
            </a>
        </li>
        <li>
            <a href="/privat">
                <p><i class="fas fa-book-reader"></i> Eigene Portfolios</p>
            </a>
        </li>
    </ul>
</nav>

</html>