<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Lernportfolio', title='Portfolio', headcontent=~{:: headcontent}, navigation=~{fragments/navigation:: navigationFragment}, bodycontent=~{:: bodycontent})}">

<head>
    <th:block th:fragment="headcontent">
        <th:block th:insert="fragments/dependencies :: dependencyFragment"></th:block>
    </th:block>
</head>

<body th:fragment="bodycontent">

<div class="jumbotron pt-1 font-italic">

    <h1 class="display-5">Portfolio</h1>
    <p class="lead">Willkommen beim Portfolioservice des MOPS!</p>
    <hr class="my-4">
    <p th:text="'Hier eine Liste aller Einträge im Portfolio ' + ${portfolio.getTitle()} + ':'">Entry list</p>

    <div class="card border-dark w-50 mb-2" th:each="entry : ${portfolio.getEntries()}">
        <h5 class="card-header" th:text="${entry.getTitle()}">Title/Week</h5>
        <div class="card-body text-dark">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non finibus odio. Nullam
                leo tortor, tristique eu efficitur eu, hendrerit eu est. Sed sed risus aliquet, mollis velit vitae,
                pretium augue. In accumsan augue sagittis nibh lobortis luctus. Vivamus ipsum quam, posuere at vehicula
                sagittis, tincidunt in odio. Nulla varius ornare mi sed hendrerit. Duis eleifend, justo ut vulputate
                elementum, felis massa auctor mauris, vitae placerat enim enim ac libero. Morbi scelerisque a enim in
                maximus. Vivamus finibus justo a libero sodales ullamcorper. Maecenas fermentum urna vitae nisl aliquam
                commodo. Nunc semper lectus imperdiet lectus volutpat, vitae faucibus odio finibus.</p>
            <a class="btn btn-primary"
               th:href="@{/entry(portfolioId=${portfolio.getId()},entryId=${entry.getId()})}">Anzeigen</a>
            <button class="btn btn-primary"><a href="/submit">An Umfrage teilnehmen</a></button>
        </div>
        <div class="card-footer" th:text="'Erstellt am ' + ${entry.getCreatedDate()}">Date created</div>
    </div>
    <a th:href="@{/create_entry(portfolioId=${portfolio.getId()})}">Neuen Eintrag erstellen</a>
</div>

</body>

</html>

