<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Lernportfolio', headcontent=~{:: headcontent}, navigation=~{fragments/navigation:: navigationFragment}, bodycontent=~{:: bodycontent})}">

<head>
    <title>Privat</title>

    <th:block th:fragment="headcontent" th:insert="fragments/dependencies :: dependencyFragment">
    </th:block>
</head>

<body th:fragment="bodycontent">

<div class="content">

</div>
<script>

</script>

</body>
</html>