<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Lernportfolio', title='Privat', headcontent=~{:: headcontent}, navigation=~{fragments/navigation:: navigationFragment}, bodycontent=~{:: bodycontent})}">

<head>
    <th:block th:fragment="headcontent">
        <th:block th:insert="fragments/dependencies :: dependencyFragment"></th:block>
    </th:block>
</head>

<body th:fragment="bodycontent">

<div class="jumbotron pt-1 font-italic">
    <h1 class="display-5">Archiv</h1>
    <p class="lead">Willkommen bei deinem Archiv des Portfolioservice des MOPS! Hier findest du alle deine Portfolios:</p>
    <hr class="my-4">

    <div class="card border-dark w-50 mb-2">
        <h5 class="card-header">Deine Portfolios:</h5>
        <div class="card-body text-dark">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:each="vorlesung : ${vorlesungen}">
                    <a th:text="${vorlesung.getTitle()}" th:href="@{/portfolio(id=${vorlesung.getId()})}">Portfolio
                        1</a>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>