<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Lernportfolio', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Test</title>
    <th:block th:fragment="headcontent">
        <style>
            ul {
                list-style-type: none;
            }

            .card_link {
                float: right;
            }

            .card {
                display: none;
            }

            .card#1{
                display: block;
            }

        </style>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li>
                <a href="/">
                    <p><i class="fa fa-home fa-lg"></i> Startseite</p>
                </a>
            </li>
            <li>
                <a href="/index">
                    <p><i class="fa fa-home fa-lg"></i> Index</p>
                </a>
            </li>
        </ul>
    </nav>
</header>
<div th:fragment="bodycontent">
    <div class="content">
        <div id="last">
            <p>Setzte hier deine Arbeit fort: <a href="#">Zuletzt bearbeiteste Portfolio TM</a></p>
        </div>
        <div id="this_semester">
            <ul> Für dieses Semester:
                <li id="gruppen">
                    <p>--- Hier kommen alle Gruppen des Studenten rein ---</p>
                </li>
                <li>
                    <p>--- Hier kommen alle Vorlesungen des Studenten rein---</p>
                </li>
                <li>
                    <p>--- Hier kommen die Privaten Portfolios rein ---</p>
                </li>
            </ul>
        </div>
    </div>
    <script>

    </script>
</div>
</body>
</html>