<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Lernportfolio', title='Submit', headcontent=~{:: headcontent}, navigation=~{fragments/navigation :: navigationFragment}, bodycontent=~{:: bodycontent})}">

<head>
    <th:block th:fragment="headcontent">
        <th:block th:insert="fragments/dependencies :: dependencyFragment"></th:block>

        <style>

        </style>

    </th:block>
</head>

<body th:fragment="bodycontent">

<div class="jumbotron pt-1 font-italic">

    <h1 class="display-5">Submit</h1>
    <p class="lead">Willkommen beim Portfolioservice des MOPS!</p>
    <hr class="my-4">
    <p>Portfolio Eintrag - Abgabe</p> :
    <span th:text="${template.getPortfolioTitle()}">Portfolio title</span> :
    <span th:text="${template.getEntryTitle()}">Entry title</span>

    <hr>

    <form th:each="entry : ${template.getEntries()}">

        <div th:switch="${entry.getType()}" th:with="AnswerType = ${T(mops.portfolios.templates.AnswerType)}">

            <div th:case="${AnswerType.TEXT}">
                <label for="INPUT_TEXT">
                    <u th:text="${entry.getQuestion()}">Question</u>
                </label>
                <textarea class="form-control" id="INPUT_TEXT" th:placeholder="${entry.getHint()}" required></textarea>
                <div class="invalid-feedback">
                    Du musst dieses Textfeld ausfüllen
                </div>
            </div>

            <div th:case="${AnswerType.SINGLE_CHOICE}">
                <label>
                    <u th:text="${entry.getQuestion()}">Question</u>
                </label>
                <div class="form-check" th:each="choice : ${entry.getHint().split(',')}"
                     th:with="id=${choice.replace(' ', '')}">
                    <input class="form-check-input" type="radio" name="radio" th:id="${id}">
                    <label class="form-check-label" th:for="id" th:text="${choice}">
                        Choice
                    </label>
                </div>
            </div>

            <div th:case="${AnswerType.MULTIPLE_CHOICE}">
                <label>
                    <u th:text="${entry.getQuestion()}">Question</u>
                </label>
                <div class="form-check" th:each="choice : ${entry.getHint().split(',')}"
                     th:with="id=${choice.replace(' ', '')}">
                    <input class="form-check-input" type="checkbox" th:id="${id}">
                    <label class="form-check-label" th:for="${id}" th:text="${choice}">
                        Choice
                    </label>
                </div>
            </div>

            <div th:case="${AnswerType.NUMBER_SLIDER}" th:with="range = ${entry.getHint().split(',')}">
                <label for="INPUT_RANGE">
                    <u th:text="${entry.getQuestion()}">Question</u>
                </label>
                <br>
                <input class="custom-range w-50" id="INPUT_RANGE" type="range"
                       th:value="${range[0]}" th:min="${range[0]}" th:max="${range[1]}"
                       data-toggle="tooltip" data-placement="top" th:title="${range[0]}"
                       oninput="$('#INPUT_RANGE').tooltip('dispose'); this.title = this.value; $('#INPUT_RANGE').tooltip('show');">
            </div>

            <div th:case="${AnswerType.ATTACHEMENT}">
                <label>
                    <u th:text="${entry.getQuestion()}">Question</u>
                </label>
                <br>
                <div class="custom-file w-50">
                    <input type="file" class="custom-file-input" id="INPUT_FILE" th:accept="${entry.getHint()}">
                    <label class="custom-file-label" for="INPUT_FILE">Datei auswählen</label>
                </div>
            </div>

            <p th:case="*">Type not found</p>

            <hr>
            <br>

        </div>


    </form>

</div>

<script>
</script>

</body>
</html>