<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Lernportfolio', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Test</title>
    <th:block th:fragment="headcontent">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li>
                <a href="/home/">
                    <p><i class="fa fa-home fa-lg"></i> Home</p>
                </a>
            </li>
            <li>
                <a href="/test/">
                    <p><i class="fa fa-plus-square fa-lg"></i> Test</p>
                </a>
            </li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <p th:text="${text}">Test123</p>

    <div class="card m-5" th:each="portfolio : ${portfolioList}">
        <div class="card-header">
            <b th:text="${portfolio.getCourse()}">Veranstaltung</b>
        </div>
        <div class="card-body">
            <p class="card-title">Titel</p>
            <p class="card-text">Mitglieder: <b th:text="${portfolio.getStudents().size()}">0</b>
            <p class="card-text">Letzte Änderung: <b th:text="${portfolio.getLastChangeDate()}">01/01/2000 00:00</b></p>
            <a href="#" class="btn btn-dark">Anzeigen</a>
        </div>
    </div>

</main>
</body>
</html>