<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Lernportfolio', headcontent=~{:: headcontent}, navigation=~{navigation:: navigationFragment}, bodycontent=~{:: bodycontent})}">

<head>
    <meta charset="utf-8">
    <title>Upload</title>
    <th:block th:fragment="headcontent">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </th:block>
</head>

<body>
<div th:fragment="bodycontent">

    <h1 class="display-4">Portfolio Vorlage hochladen</h1>

    <form class="input-group mb-3" method="POST" enctype="multipart/form-data" action="/view">
        <div class="custom-file">
            <input class="custom-file-input" type="file" name="file" id="INPUT_FILE" accept=".adoc,.asciidoc,.asc">
            <label class="custom-file-label" for="INPUT_FILE">AsciiDoc Datei auswählen</label>
        </div>
        <div class="input-group-append">
            <button class="input-group-text" type="submit">Hochladen</button>
        </div>
    </form>
</div>
</body>

</html>